:root {
    --navbarbg-blue: #2C3E50;
    --maincontent-cyan: #1ABC9C;
    --footer-blue: #3A546D;
    --sectionimg-red: #BA4B63;
    --sectionimg-cyan: #1EA4B6;
    --sectionimg-black: #140F0F;
    --sectionimg-lightblue: #1C83C1;
    --sectionimg-darkblue: #0E38B5;
    --sectionimg-grey: #CCB2A3;
}

a {
    text-decoration: none;
    color: currentColor;
}

.navbar_me {
    background-color: var(--navbarbg-blue);
}

.color_cyan_section {
    background-color: var(--maincontent-cyan);
}



.padding_top_first_section {
    padding-top: 5rem;
}

.star_size {
    font-size: 2.5rem;
    margin-top: 1.875rem;
    margin-bottom: 2.25rem;
}

.list_first_section_size {
    font-size: 1.875rem;
}

.start_bootstrap_size {
    font-size: 4.25rem;
}

.star_color_blue {
    color: var(--navbarbg-blue);
}

.b_color_try {
    background-color: var(--sectionimg-darkblue);
}

.img_rounded_container {
    max-width: 422px;
}

.list_unstyled hr {
    max-width: 1130px;
}

.button_send {
    margin-top: 165px;
}

.hr_margin_bot {
    margin-bottom: 2rem;
}